<div class="card" *ngIf="cuentas.length > 0">
    <ng-container *ngFor="let cuenta of cuentas">
        <div class="card-header">
            Cuenta en pesos:

            <button type="button" class="btn btn-outline-dark" *ngIf="path === '/'" (click)="returnCuenta(cuenta)">Ver</button>
        </div>
        <div class="card-body row">
            <div class="col-8">
                <h5 class="card-title">Tarjeta</h5>
                <img class="card-img" src="../../../assets/images/card.png" alt="">
                <p class="card-text">{{cuenta.tarjeta.No_tarjeta}}</p>
            </div>
            <div class="col-4 text-right">
                <p class="saldo" >${{cuenta.monto}}</p>
                <p class="text-saldo" >Saldo disponible</p>
            </div>
        </div>
    </ng-container>
</div>
