.card{
    margin-bottom: 30px;
    .card-header{
        background-color: #ffffff;
        border-radius: 20px 20px 0 0 ;
        color: #505050;
        font-weight: bold;
        button{
            border-color: rgba(0,0,0,.125);
            position: absolute;
            right: 20px;
            top: 5px;
        }
    }
    .card-body{
        .card-title{
            color: rgb(1, 1, 92);
        }
        .card-img{
            width: 50px;
        }
        .saldo{
            margin-bottom: 0;
        }
        .text-saldo{
            font-size: 14px;
            color: #505050;
        }
    }
}