<section class="register row d-flex justify-content-center mt-4 pageTrans">
    <div class="col-md-3 card text-center">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="card">Tarjeta:</label>
                <input type="number" formControlName="cuenta" class="form-control" id="card" name="card">
            </div>
            <div class="form-group">
                <label for="email">Correo:</label>
                <input type="text" formControlName="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="pass">Contraseña:</label>
                <input type="password" formControlName="password" class="form-control" id="pass" name="pass">
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Registrarme</button>
            </div>
        </form>
    </div>
</section>
