<section class="acounts row d-flex justify-content-center pageTrans">
    <div class="col-md-9">
        <app-debit></app-debit>
        <app-credit></app-credit>
        <app-loan></app-loan>
    </div>
</section>