.acounts{
    padding-top: 20px;
    .card{
        .card-header{
            background-color: #ffffff;
            border-radius: 20px 20px 0 0 ;
            color: #505050;
            font-weight: bold;
            button{
                position: absolute;
                right: 16px;
                top: 3px;
            }
        }
        .card-body{
            .card-title{
                color: rgb(1, 1, 92);
            }
            .card-img{
                width: 50px;
            }
            .saldo{
                margin-bottom: 0;
            }
            .text-saldo{
                font-size: 14px;
                color: #505050;
            }
        }
    }
}