<section class="tranfer row d-flex justify-content-center pageTrans">
    <div class="col-md-3 col-sm-12 card text-center">
        <form [formGroup]="tranferForm" (ngSubmit)="tranferir()">
            <div class="form-group">
                <label for="account">No. cuenta de destino:</label>
                <input type="text" name="account" id="account" formControlName="cuentaTraspaso" class="form-control">
            </div>
            <div class="form-group">
                <label for="monto">Importe:</label>
                <input type="number" name="monto" id="monto" formControlName="monto" class="form-control"
                    placeholder="$...">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" name="descripcion" id="descripcion" formControlName="descripcion"
                    class="form-control">
            </div>

            <div class="">
                <button type="submit" class="btn btn-success">Transferir</button>
            </div>
        </form>
    </div>
</section>