<div class="card" *ngIf="cuentas.length > 0">
    <ng-container *ngFor="let cuenta of cuentas">
        <div class="card-header">
            Creditos:

            <button type="button" class="btn btn-outline-dark" *ngIf="path === '/'" (click)="returnCuenta(cuenta)">Ver</button>
        </div>
        <div class="card-body row">
            <div class="col-8">
                <h5 class="card-title">PR2151</h5>
                <img class="card-img" src="../../../assets/images/prestamo.png" alt="">
                <p class="card-text">.492151</p>
            </div>
            <div class="col-4 text-right">
                <p class="saldo">$150,000</p>
                <p class="text-saldo">Saldo pendiente</p>
            </div>
        </div>
    </ng-container>
</div>