.navbar-bbva{
    display: block;
    text-align: center;
    height: 300px;
    padding-top: 20px;
    background: #004481 url('../../../assets/images/bg_header.png') no-repeat 0 0;
    img{
        width: 237px;
        margin-top: 0;
        margin-bottom: 40px;
    }

    h3{
        color: #ffffff;
        font-weight: bold;
    }
    em{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        font-style: inherit;
        color: #fff;
        &:hover{
            cursor: pointer;
        }
    }
}