.login{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    text-align: center;
    .card{
        img{
            width: 90px;
        }
        .register{
            display: block;
            margin-top: 10px;
        }
    }
}