<section class="login d-flex justify-content-center pageTrans">
  <div class="card" style="width: 20rem; max-height: 400px;">
    <div class="card-body">
      <img src="../../assets/images/login.png" alt="">
      <form [formGroup]="loginForm" (ngSubmit)="saveLogin()">
        <div class="form-group">
          <label for="exampleInputEmail1">Correo:</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña:</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
            placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        <span class="register">No tienes cuenta? <a routerLink="/registro">Registrate aquí</a> </span>
      </form>
    </div>
  </div>
</section>