.account{
    .new-movement{
        .cont-btn{
            span{
                display: block;
                font-size: 10px;
                text-align: center;
                max-width: 50px;
                margin-top: 5px;
            }
        }
    }
    .move{
        .date{
            font-size: 14px;
            color: #ff9a02;
            margin-bottom: 30px; 
        }
        .quantity{
            text-align: right;
        }
    }
}