<section class="account row d-flex justify-content-center pageTrans">
    <div class="col-md-9">
        <app-debit></app-debit>
        <app-credit></app-credit>
        <app-loan></app-loan>
    </div>
    <div class="new-movement col-md-9 d-flex justify-content-around">
        <div class="cont-btn">
            <button type="button" class="btn btn-circle btn-primary icon-transfer"
                (click)="newMovement('Transferencia')"></button>
            <span>Transferir</span>
        </div>
        <div class="cont-btn">
            <button type="button" class="btn btn-circle btn-info icon-retiro" (click)="newMovement('Retiro')"></button>
            <span>retiro sin tarjeta</span>
        </div>
    </div>
    <div class="col-md-9">
        <hr>
        <h3 class="text-center">Ultimos movimientos</h3>
        <hr>
        <ng-container *ngFor="let movimiento of movimientos">
            <div class="move row">
                <div class="col-12">
                    <p class="date">{{movimiento.fecha}}</p>
                </div>
                <div class="col-8">
                    <p class="move-title">{{movimiento.descripcion}}</p>
                    <p class="description">Movimiento BBVA</p>
                </div>
                <div class="col-4">
                    <p class="quantity">{{movimiento.monto}}</p>
                </div>
            </div>
            <hr>
        </ng-container>
    </div>
</section>