/* You can add global styles to this file, and also import other style files */
//se editan los estilos generales de bootstrap
@font-face{
    font-family: 'bbva';
    src: url('./assets/fonts/BentonSansBBVA-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'bbva medium';
    src: url('./assets/fonts/BentonSansBBVA-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iconos';
    src:  url('./assets/fonts/iconos.eot?x03qda');
    src:  url('./assets/fonts/iconos.eot?x03qda#iefix') format('embedded-opentype'),
        url('./assets/fonts/iconos.ttf?x03qda') format('truetype'),
        url('./assets/fonts/iconos.woff?x03qda') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

html body{
    font-family: 'bbva', 'Arial', 'Helvetica', sans-serif;

    //Empesamos todo el apartado de los iconos
    [class^="icon-"]:before,
    [class*="icon-"]:before,
    [class*="icon-"]:after{
        font-family: 'iconos', sans-serif;
    }

    .icon-transfer:before{
        content: "\ed20";
    }

    .icon-retiro:before{
        content: "\e97e";
    }

    .icon-logout:before{
        content: "\ece8";
    }

    form{
        .form-group{
            .form-control{
                border-radius: 24px;
            }
        }
    }
    
    .btn-circle{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        color: #ffffff;
        font-size: 19px;
        font-weight: bold;
    }

    .btn-more{
        background-color: #f7893a;
    }

    .card{
        border-radius: 12px !important;
        box-shadow: 0 4px 0 0 rgba(0,0,0,0.1);
    }
    
    .pageTrans {
        position: relative;
        animation: fadeIn .7s ease;
      }
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateX(1em);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
}